.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #1D1D1D;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {
            ~ .checkmark {
                border-color: $primary;
                background-color: $primary;
            }

            ~ .checkmark:after {
                display: block;
            }
        }

        &:not(:checked){
            &:hover ~ .checkmark {
                border-color: $secondary;
                background-color: $secondary;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border: 0.5px solid $secondary;
        background-color: #fff;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 3px;
            width: 6px;
            height: 14px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}